.start-screen {
  background-color: #404040;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;

  img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
}

.start-labelbox {
  position: absolute;
  display: flex;
  align-items: center;
  left: 10vw;
  bottom: 150px;

  img {
    width: 30vw;
    height: 60px;
    border-radius: 8px;

    @media (width < 720px) {
      height: 57px;
      width: 280px;
    }

    @media (width < 720px) {
      height: 37px;
      width: 200px;
    }

    &:hover {
      cursor: pointer;
      filter: brightness(1.2);
    }
  }
}
